---
layout: default
---

<div id='bar-green'></div>

<div class='section section-gray'>
  <div class='container pd-t-lg pd-b-lg'>
                <div class="countdown-block" id="countdown-block">

                 <div class="countdown-holder pull-left">
                    <div id="defaultCountdown"></div>
                  </div>
                <div class="next-service-outer pull-left">
                  <div class="next-service" id="next-service">

                  </div>
                </div>
                <div class="clearfix"></div>

             </div>
    <div class="row">

    <h1>WELCOME</h1>
<p>We welcome the opportunity to connect with you and your family. We have lots of opportunities to get connected and meet new people. Feel free to browse through our web site and learn about the exciting things happening at Thursday Church.

<p>We meet on Thursdays at 6:45 pm at our Vincennes and Bicknell campuses. We offer a Sunday morning service at 10:45 am at our Vincennes Campus. We provide programs for children 5th grade and under during services on Thursdays at both campuses and on Sundays at the Vincennes Campus.</p>
</div>
</div>
</div>


 <div class='section section-series' style='background-color: #444444; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;height:auto; color: #ffffff;'>
          {% assign latest = site.data.watch | first %}

      {% for post in site.categories.watch limit:1 %}
      {% for series in site.data.watch %}
      {% if series.id == post.series-id %}
  <div class='container pd-t-lg pd-b-lg'>
    <div class="row center-row-series">
       <div class='col-xs-12 col-sm-6 col-md-6 center-col-series' id='current-series-graphic'>
          <div class='series-img-holder'>
            <img src='{{ series.image_small }}' alt='Part 4' class='img-responsive'/>
          </div>
       </div>
        <div class='col-xs-12 col-sm-6 col-md-6 center-col-series' style='padding:0px 40px;'>

        <!-- recent message goes here -->
          <h4>CURRENT SERIES</h4>
          <h3>{{ series.title }}</h3>
          <a class='btn btn-primary btn-clear btn-left mg-t-sm' href="{{ post.url }}">View Series</a>

                     </div>
                  </div>
                </div>

              </div>
{% endif %}
{% endfor %}
{% endfor %}

<div class='section section-locations' >
  <div class='container pd-t-lg pd-b-lg'>

    <div class="row">
       <div class='col-md-12 pd-b-md text-center'>
           <h1>Locations &amp; Times</h1>
      </div>
    </div>

    <div class='row'>

            <div class="col-xs-12 col-sm-4 col-md-4 ">

            <div class='pd-xs'>
              <img src='/site/assets/files/1/map1.jpg' class='img-responsive img-full-width'/>

              <h3>Vincennes</h3>
             <p class='campus-times'>Thursdays: 6:45pm<br /> Sundays: 10:45am</p>

               <ul class="fa-ul">
                <li><i class="fa-li icon-location-pin-1"></i>
                                 218 Main St<br/>
                                 Vincennes, IN 47591</li>
                <li><i class="fa-li icon-call-2"></i>812.882.2737</li>
              </ul>
               <div class=' mg-t-sm2'><a href='#' class='btn btn-default btn-left '><i class='icon-right-4 icon-fw'></i> Campus Info</a></div>
            </div>

        </div>

         <div class="col-xs-12 col-sm-4 col-md-4">
             <div class='pd-xs'>
              <img src='/site/assets/files/1/map2.jpg' class='img-responsive img-full-width'/>

            <h3>Bicknell</h3>
           <p class='campus-times'>Thursdays: 6:45pm</p>

           <ul class="fa-ul">

                <li><i class="fa-li icon-location-pin-1"></i>114 South Main St</li>
                <li>Bicknell, IN, 47591</li>
                <li><i class="fa-li icon-call-2"></i>812.502.2124</li>
            </ul>
            <div class='mg-t-sm2'><a href='#' class='btn btn-default btn-left  '><i class='icon-right-4 icon-fw'></i> Campus Info</a></div>
            </div>
        </div>

         <div class="col-xs-12 col-sm-4 col-md-4">
           <div class='pd-xs'>
            <img src='/site/assets/files/1/map3.jpg' class='img-responsive img-full-width'/>

             <h3>French (Creole)</h3>
           <p class='campus-times'>Sundays: 12:30pm</p>

             <ul class="fa-ul">
               <li><i class="fa-li icon-location-pin-1"></i>218 Main St</li>
                <li>Vincennes, IN 47591</li>
              <li><i class="fa-li icon-call-2"></i>

              </li>
            </ul>
             <div class=' mg-t-sm2'><a href='#' class='btn btn-default btn-left'><i class='icon-right-4 icon-fw'></i> Campus Info</a></div>
            </div>
        </div>

    </div>





  </div>
</div>



<div class='section section-featured-story' style='background: #565656 url("/site/assets/files/1072/jeff-home_y92ybi.jpg") no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;height:auto; color: #ffffff;' >
      <div class='container pd-t-lg pd-b-lg'>
        <div class='row'><div class='col-sm-6  col-xs-8 '>
               <h5 class='mg-b-none'>STORIES</h5>
               <h4 class='mg-b-sm'>Jeff Gramlich</h4> 
               <p class='hidden-xs home-quote'>&ldquo;I felt called to serve, there were a lot of people in my life that wanted me to take a safer route, but too often people are afraid to step out of their comfort zone and follow what they're called to do.&rdquo;</p> <a class='btn btn-default btn-clear btn-left mg-t-sm' href='/stories/called-to-serve/'>Read Jeff's Story</a>
               </div>
            </div>
          </div>

    </div>



<div class='section section-gray'>



  <div class='container pd-t-lg pd-b-lg'>

    <div class='row'>
      <div class='col-md-12 text-center pd-b-md'>
          <h1>LIFE Groups</h1>
      </div>
    </div>

    <div class="row">


      <div class="col-xs-12 col-sm-4 col-md-4"> 
        <div class="home-content-block">
         <a href='/blog/mens-group/'><img src='/site/assets/files/1081/14164315519_1600.640x293.jpg' alt='Men&#039;s Group' class='img-responsive img-full-width'/></a>
            <div class='home-para-block'>
              <a href='/blog/mens-group/'>
                <h3>Men&#039;s Group</h3></a>
                Pastor Dave Dunbar sends out a weekly devotion via text message. If you’d like to receive the devotion or for more.</div>
                </div>
              </div>
              
              <div class="col-xs-12 col-sm-4 col-md-4">
               <div class="home-content-block">
                <a href='/blog/healing-hearts-grief-recovery/'><img src='/site/assets/files/1081/14164315519_1600.640x293.jpg' alt='Healing Hearts Grief Recovery'  class='img-responsive img-full-width'/></a>
                <div class='home-para-block'>
                <a href='/blog/healing-hearts-grief-recovery/'><h3>Healing Hearts Grief Recovery</h3></a>
                Offering support as you find physical, emotional, and spiritual healing and hope. The book is available at The Bible...
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4">
             <div class="home-content-block">
              <a href='/blog/girls-night-out/'><img src='/site/assets/files/1081/14164315519_1600.640x293.jpg' alt='Girls Night Out'  class='img-responsive img-full-width'/></a>
                    <div class='home-para-block'>
                    <a href='/blog/girls-night-out/'>
                    <h3>Girls Night Out</h3></a>
                    Ladies you are invited to join us on the 1st Monday of each month at 6:30 pm. We meet at different restaurants in...
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
