---
layout: default2
title: LIFE Groups
permalink: /ministries/life-groups/
---

<section class="page-section section-first section-lifegroups-top">
    <div class="medium-10 medium-centered text-center columns">
      <h2>LIFE Groups</h2>
      <p>Description (What are life groups)</p>
      </div>
</section>

<div class="container pd-t-md pd-b-lg ">
    <div class="row multi-columns-row ">
        {% for item in site.data.lifegroups %}
        {% if item.location == "Vincennes" %}
        {% capture type %}LIFE Groups{% endcapture %}
        {% include lifegroup-item.html %}
        {% endif %}
        {% endfor %}
      </div>

    <div class='container  pd-b-lg'>
        <div class='row'>
            <div class='col-md-12'>
                    </div>
        </div>

    </div>



</div> <!-- end section -->

    </div>
  </div>
</section>

<section class="page-section" id="digital-missions" style="display: none;">

  <div class="row padded">
    <div class="large-12 columns">
      
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 involved-list">
        {% for item in site.data.lifegroups %}
        {% if item.location == "Bicknell" %}
        {% capture type %}LIFE Groups{% endcapture %}
        {% include involved-item.html %}
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</section>

