<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

    <div style='background-color:#ffffff;padding-bottom:10px;' class='serif serif-md'>
        {% if item.url %}<a href='{{ item.url }}'><img src='{{ item.image_small }}' class='img-responsive img-full-width' /></a>{% else %}
        <img src='{{ item.image_small }}' class='img-responsive img-full-width' />
        {% endif %}

        <div style='padding:10px 20px;'>
            <h3 style='margin-top:0px;padding-top:6px;padding-bottom:6px;'>{% if item.url %}<a href='{{ item.url }}'>{% endif %}{{ item.title }}{% if item.url %}</a>{% endif %}</h3>
                <b>When:</b> {{ item.day }} | {{ item.time }}<br />
                {% if item.location %} <b>Where:</b> {{ item.location }}{% endif %}
            <div class='clearfix'></div>
            <div class='mg-t-md mg-b-sm'>
                {% if item.url %}<a href='{{ item.url }}' class='btn btn-left btn-default'><i class='icon-right-4'></i> Read More</a>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>