<header id="masthead" class="main">
	<nav>
		<a id="logo" class="home" href="https://docs.greentreeconsulting.cc"></a>

		<ul class="quick" id="nav-links">
			<li>
				<a id="link-contact" href="https://docs.greentreeconsulting.cc/contact" title="Contact">
					<i class="fa fa-comments"></i>
					Contact
				</a>
			</li>

			<li>
				<a id="link-support" href="https://support.greentreeconsulting.cc" title="Support">
					<i class="fa fa-life-ring"></i>
					Support
				</a>
			</li>

			<li>
				<a id="link-account" href="https://docs.greentreeconsulting.cc/my-account" title="Account">
					<i class="fa fa-user"></i>
					Account
				</a>
			</li>
		</ul>

		<ul id="nav-links" class="categories">
			<li><a href="https://docs.greentreeconsulting.cc/laptops">Laptops</a></li>
			<li><a href="https://docs.greentreeconsulting.cc/desktops">Desktops</a></li>
			<li><a href="https://docs.greentreeconsulting.cc/desktops/meerkat">Mini</a></li>
			<li><a href="https://docs.greentreeconsulting.cc/servers">Servers</a></li>
			<li><a href="https://docs.greentreeconsulting.cc/pop">Pop!_OS</a></li>
		</ul>
	</nav>
</header>
