<header id="masthead" class="main">
	<nav>
		<a /*id="logo"*/ class="home" href="">Greentree Consulting</a>

		<ul class="quick" id="nav-links">
			<li><a id="link-contact" href="/contact" title="Contact"><i class="fa fa-comments"></i>Contact</a></li>
			<li><a id="link-support" href="/support" title="Support"><i class="fa fa-life-ring"></i>Support</a></li>
			<li><a id="link-account" href="/my-account" title="Account"><i class="fa fa-user"></i>Account</a></li>
		</ul>

		<ul id="nav-links" class="categories">
			<li><a href="/docs/rock">Rock Docs</a></li>
			<li><a href="/docs/youtube">Youtube</a></li>
			<li><a href="//docs/chop">Church Online</a></li>
		</ul>
	</nav>
</header>
