<div class='container mg-t-lg mg-b-lg serif' >
        <div class='row '>
          {% for message in series.messages %}
          {% if message.video %}
          <div class='col-md-7 '>
          <h1></h1>
        </div>
        <div class='col-md-4 col-md-offset-1 series-sidebar'>
        </div>
      </div>
      <div class='row ' id="series-{{ series.id }}">
        <div class='col-md-12 '>
          <hr class='mg-t-md mg-b-none'></div>
        </div>
        <div class='item-and-audio-holder'>
          <div class='row mg-b-md2 mg-t-md2'>
            <div class='col-sm-4 col-md-3 col-md-offset-1 text-center' >
              <a href='{{ item.url }}'>
              <img src='{{ item.image_small }}' class='img-responsive img-full-width mg-b-md'></a>
              <a href="{{ messgae.notes }}" class='hidden-xs btn btn-left btn-default'><i class='icon-right-4'></i> View Sermon</a></div>
              <div class='col-sm-8  col-md-7 sermon-item-info' >
                <a href='{{ message.url }}'>
                  <h3>{{ series.title }}: {{ message.title }}</h3>
                </a>
                
                {% include video-player.html id=message.video %}
                {% endif %}
                <div class='serif-sm'></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}