---
layout: default
title: Staff
---


<div class="page_header_wrapper">
    <div class="container serif">
        <div class="row">
            <div class="col-md-12 mg-t-lg mg-b-md">
                             <h1 style='display:inline-block; float:left'>Staff</h1>
                             <!--a class='btn btn-default pull-right' style='margin-top:26px;' href='/about/staff/'><i class='icon-left-4'></i> View All Staff</a-->
                            <div class='clear clearfix'></div>
                            <hr>
                    </div>
                </div>
            </div>
        </div>
        {% for item in site.data.staff %}
    <div class="container mg-b-lg">
       <div class="row ">
        
            <div class='col-sm-4'>
                <img src='{{ item.image_small }}' class='img-responsive img-full-width' />
            </div>
             <div class='col-sm-8 staff-left-detail'>
                <h2>{{ item.title }}</h2>
                <div class='staff-contact-info'>
                <p><strong>{{ item.position }}</strong></p>
                {% if item.email %}
                <p><strong><a href='mailto:{{ item.email }}'>Email </a></strong></p>
                {% endif %}
                                <p>Office: </p>
                </div>
                            </div>
        </div>
       
    </div>
{% endfor %}