/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'akrobat';
    src: url('../fonts/Akrobat-SemiBold.eot');
    src: url('../fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Akrobat-SemiBold.woff') format('woff'),
         url('../fonts/Akrobat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'akrobat';
    src: url('../fonts/Akrobat-Bold.eot');
    src: url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Akrobat-Bold.woff') format('woff'),
         url('../fonts/Akrobat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'akrobat';
    src: url('../fonts/Akrobat-Black.eot');
    src: url('../fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Akrobat-Black.woff') format('woff'),
         url('../fonts/Akrobat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

h1, h3, h3, h4, h5, h6 {
    font-family: akrobat;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
}

a, a:hover, a:active {
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.announcement-bar {
    padding-top: 5px;
    background-color: #212121;
    color: #FFFFFF;
    font-weight: normal;
    font-family: Heebo;
    text-align: center;
    display: none;
}

    .announcement-bar a {
        color: #999999;
    }

/* Small desktop or bigger */
@media screen and (min-width: 1025px) {
    .announcement-bar {
        padding: 10px 0px;
        margin-bottom: 5px;
        font-size: 20px;
    }
}

.masthead {
    font-family: akrobat;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    max-width: 1920px;
    min-height: 70px;
}

.masthead-upper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.masthead-brand {
    align-self: flex-start;
}

    .masthead-brand .logo {
        display: block;
        float: left;
        background-image: url(../images/logo/ccv-full.svg);
        background-repeat: no-repeat;
        background-position: left center;
        height: 35px;
        width: 225px;
        margin-left: 30px;
        margin-top: 10px;
    }

/* Masthead Navigation */
.masthead-nav-mobile, .masthead-nav-modal {
    display: none;
}

.masthead-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.header-navigation-left {
    padding-left: 10px;
}

.header-navigation-right {
    padding-right: 15px;
}

.navigation-primary-items {
    display: flex;
    margin-bottom: unset;
    margin: 0;
    padding-left: 20px;
}

.navigation-primary-item {
    list-style-type: none;
    min-height: 40px;
}

.navigation-primary-item-a, .navigation-primary-item-button {
    color: #FFFFFF;
    font-family: akrobat;
    font-size: 15px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 15px;
}

.navigation-primary-item-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-primary-item-button {
    border: none;
    -webkit-appearance: none;
    background-color: unset;
}

    .navigation-primary-item-a:not(:hover), .navigation-primary-item-button:not(:hover) {
        transition: .25s;
        background: rgba( 255, 255, 255, 0);
        border-radius: 4px;
    }

    .navigation-primary-item-a:hover, .navigation-primary-item-button:hover {
        color: #FFFFFF;
        transition: .25s;
        background: rgba( 255, 255, 255, .15);
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

.navigation-primary-item.active {
    background: rgba( 255, 255, 255, .15);
    border-radius: 4px;
    color: #ffffff;
}

/* Navigation dropdown Styling */
.navigation-primary-dropdown-content-wrapper {
    display: none;
    position: absolute;
    color: #FFFFFF;
    transition: .25s;
    min-width: 115px;
}

.navigation-primary-dropdown-content {
    background: rgba( 255, 255, 255, .15);
    border-radius: 4px;
    margin-top: 2px;
    padding: 10px 0;
}

    .navigation-primary-dropdown-content a {
        display: block;
        font-size: 13px;
    }

        .navigation-primary-dropdown-content a:hover {
            color: #FFFFFF;
            transition: .25s;
            background: #7A1315;
            cursor: pointer;
            border-radius: 0;
        }

.navigation-primary-item:hover .navigation-primary-dropdown-content-wrapper {
    display: block;
    padding: 0;
}

.navigation-primary-item:hover .navigation-primary-item-button {
    color: #FFFFFF;
    transition: .25s;
    background: rgba( 255, 255, 255, .15);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.navigation-primary-item button:focus {
    outline: none;
}

.dropdown-content-item {
    line-height: 17px;
    padding: 2px 15px;
}

.locations-dropdown {
    display: flex;
}

#btnMyDashboard {
    display: none;
}

/* Styling for the 'Search' magnifying glass on the navigation primary bar. */
.navigation-primary-search a {
    padding-top: 11px;
    padding-bottom: 11px;
}

.navigation-primary-search img {
    width: 20px;
    height: 20px;
    /* hack: the icon on rock ccv.church is a bit off, this is to match that positioning */
    /* not sure if positioning was intentional or a bug, but dont want to address at this time */
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Navigation-Primary Mobile Styling */
@media screen and (max-width: 1150px) {
    .masthead-brand .logo {
        margin-left: 15px;
    }

    .masthead-nav {
        display: none;
    }

    .masthead-nav-mobile {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
        padding-right: 8px;
    }

    .btn-mobile-bars {
        width: 26px;
        height: 34px;
    }

    /* Mobile Menu */
    .masthead-fullmenu {
        background-color: #FFFFFF;
        position: fixed;
        display: block;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        width: 33%;
        -webkit-transition-duration: 600ms;
        transition-duration: 600ms;
        overflow-y: auto;
    }

        .masthead-fullmenu.offscreen {
            transform: translate(100%);
            -webkit-transform: translate(100%);
        }

    .navigation-mobile-title {
        padding: 15px 5px 15px 20px;
        background-color: #7A1315;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 400;
        font-family: akrobat;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 59px;
    }

    .btn-mobile-close {
        width: 24px;
        height: 24px;
        margin-right: 7px;
        margin-bottom: 3px;
    }

    .navigation-mobile-title-search-wrapper {
        display: flex;
    }

    .navigation-mobile-magnify img {
        margin-top: 3px;
        margin-left: 25px;
        width: 18px;
        height: 18px;
    }

    .navigation-mobile-items {
        display: flex;
        flex-direction: column;
        padding: 15px 35px 15px 20px;
        font-size: 18px;
    }

    .navigation-mobile-item {
        color: #212121;
        padding: 15px 10px;
        text-transform: uppercase;
        background-color: transparent;
        font-size: 18px;
        font-weight: 400;
        padding: 3px 20px;
    }

        .navigation-mobile-item img {
            width: 22px;
            height: 22px;
        }

    .dropdown-toggle.navigation-mobile-item {
        padding: 0 10px;
    }

    .navigation-mobile-items .dropdown-menu {
        margin-left: -15px;
        padding: 5px 0;
    }

    .navigation-mobile-item:active, .navigation-mobile-item:focus {
        background-color: #EEEEEE;
        text-decoration: none;
        outline: none;
        ;
    }

    .dropdown-toggle.btn-mobile-item-toggle, .btn-mobile-item-toggle {
        font-weight: 700;
        padding: 0 10px;
    }

    .dropdown .btn-mobile-item-toggle-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* bootstrap overrides */
    .dropdown-menu {
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    }

    .dropdown-toggle::after {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .masthead-fullmenu {
        width: 75%;
    }
}

/* General button styling */
.btn-primary {
    font-weight: normal;
    min-width: 200px;
    max-width: 200px;
    font-family: akrobat;
    color: #fff;
    background-color: #7a1315;
    border-color: #7a1315;
    text-transform: uppercase;
}

.btn-default {
    font-weight: 600;
    min-width: 200px;
    max-width: 200px;
    border-width: 1px;
    font-family: akrobat;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4e0c0d;
    border-color: #450b0c;
}

.btn:hover, .btn:focus {
    color: #fff;
    text-decoration: none;
}

.prev-arrow:hover, .next-arrow:hover {
    cursor: pointer;
}

/* Tablet / Mobile styling for general buttons */
@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
        max-width: unset;
        margin: 5px 0;
    }

    #btnMyDashboard {
        display: none !important;
    }
}

a:active {
    background-color: transparent !important;
    border-color: transparent !important;
}

.social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.facebook-wrapper:active {
    background-color: transparent !important;
    border-color: transparent !important;
}

.youtube {
    max-width: 50% !important;
    margin-right: -25px;
}

    .youtube:active {
        background-color: transparent !important;
        border-color: transparent !important;
    }

.facebook {
    max-width: 50px !important;
    margin-right: 5px;
}

/* COUNTDOWN TIMER */
.show-timer, .show-live {
    width: 100%;
}

.countdown-row {
    min-height: 75px;
}

.countdown-timer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

.countdown-complete {
    display: flex;
    width: 100%;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.time-digit {
    font-size: 34px;
    margin: 15px 5px 0 0;
    line-height: .9
}

p.time-label {
    font-size: 12px;
}

.spacer {
    border-left: 1px solid gray;
    height: 44px;
}

/* Tablet size layout */
@media screen and (max-width: 1024px) {
    p.time-digit {
        font-size: 36px;
    }

    p.time-label {
        font-size: 12px;
    }

    .spacer {
        height: 48px;
    }
}

@media screen and (max-width: 768px) {
    .countdown-timer {
        margin: 0 auto;
    }

    .youtube {
        max-width: 70%;
    }

    .social-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
    }
}

/* Mobile size layout */
@media screen and (max-width: 500px) {
    p.time-digit {
        font-size: 24px;
    }

    p.time-label {
        font-size: 8px;
    }

    .spacer {
        height: 32px;
    }
}


/* Footer Styling */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #7A1315;
    padding: 40px 35px 20px 35px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

    .footer-logo img {
        color: #FFFFFF;
    }

.footer-copyright {
    color: rgba(213,213,213,0.87);
    padding-top: 10px;
    font-family: Heebo;
    line-height: 200%;
    font-size: 12px;
    font-weight: 200;
}

.footer-social {
    display: flex;
}

    .footer-social i {
        color: #FFFFFF;
        font-size: 30px;
        margin: 10px 0;
        padding: 0 20px;
    }

        .footer-social i:first-of-type {
            margin-left: -20px;
        }

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-family: Akrobat;
    letter-spacing: .5px;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.footer-links-section {
    display: flex;
    flex-direction: column;
    width: 250px;
}

    .footer-links-section h5 {
        font-size: 20px;
        color: rgba(213,213,213,0.87);
        border-bottom: 1px solid rgba(213,213,213,0.87);
        width: 80%;
        margin: 0;
        margin-bottom: 10px;
    }

    .footer-links-section a {
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

.footer-links-subsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links-legal {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

    .footer-links-legal .legal-copyright {
        margin-left: 40px;
    }

/* Footer Mobile Styling */
@media screen and (max-width: 768px) {
    .footer-links-section {
        width: 100%;
    }

        .footer-links-section h5 {
            text-align: center;
        }

    .footer-links-legal {
        flex-direction: column;
    }

        .footer-links-legal .legal-copyright {
            margin-left: 0;
        }
}

@media screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 20px 0;
    }

    .footer-logo {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-links, .footer-links-subsection {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-links-section {
        align-items: center;
        margin-bottom: 20px;
    }

        .footer-links-section h5 {
            text-align: center;
        }

    .footer-links-legal {
        margin-bottom: -20px;
        align-items: center;
    }
}