---
layout: default
permalink: /about/staff/
title: Meet The Team
---
<section class="page-section section-first section-lifegroups-top">
    <div class="medium-10 medium-centered text-center columns">
      <h2>Meet The Team</h2>
      <p></p>
      </div>
</section>
      
<div class="container mg-b-lg">
	<div class="row multi-columns-row">
        {% for item in site.data.staff %}
        {% capture type %}Staff{% endcapture %}
        {% include staff-item.html %}
        {% endfor %}
</div>
</div>
