<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='{{ site.lang | default: "en-US" }}'>
<!-- <![endif] -->

<head>
    <title>{{ page.title }} | JayGreentree Live</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="author" content="JayGreentree Live">
    <!--[if lt IE 9]>
    <script type='text/javascript' src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic|Open+Sans:100,200,300,400,600,700,800,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- styles -->
    <link rel="stylesheet" href="/site/templates/css/bootstrap.css">
    <link rel="stylesheet" href="/site/templates/css/magnific-popup.css">
    <link rel="stylesheet" href="/site/templates/css/audioplayer.css">
    <link rel="stylesheet" href="/site/templates/css/site-helpers.css">
    <link rel="stylesheet" href="/site/templates/css/icon-font.css">
    <link rel="stylesheet" href="/site/templates/css/events.css">
    <link rel="stylesheet" href="/site/templates/css/site.css">
    <link rel="stylesheet" href="/site/templates/css/font-awesome/css/font-awesome.css">
    <style>
        .top-home {
            background: #013852 url("{{ page.heroimage }}") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .gradient,
        .gradient:after {
            filter: none;
        }
    </style>
    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
    
</head>

<body>
    <div id='wrapper' class='page-id-{{ page.id }} template-{{ page.css }} {% if announcement.active == true %}streaming-live{% endif %}'>
 
        <div class='header' id='chapel-header-bar'>
            <div id='search-area'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-8 col-md-offset-2'>
                            <div class="searchTop">
                                <form id="search-form-top" class='clearfix' action='/search/' method='get'>
                                    <input class="clear-click" id='search-site-input' placeholder='Search the site' type='text' name='q' value=''>
                                    <a id="search_query_btn" href="javascript:void(0);" class="icon-right-4"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='floating-bar-nav'>

                       <!-- Announcement -->
        {% for announcement in site.data.announcement %}
        {% if announcement.active == true %}
        {% if page.section != 'announcements' %}
    <div id='top-bar-live'>
            <i class="announcement-icon icon-announcement-{{ announcement.icon }}"></i> {% if announcement.url %}<a id='live-btn'  href='{{ announcement.url }}' title="Live" >{% endif %}{{ announcement.message }} {% if announcement.url %}</a>{% endif %}
    </div>
        {% endif %}
        {% endif %}
        {% endfor %}

                <div id='top-quick-menu' class=''>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class="logo pull-left">
                                    <a href="/" class="crosspoint_logo" title='{{ site.title }}'>
                                        <img id="logo-mark" src='/site/templates/css/img/logo.gif' width="100%">
                                    </a>
                                </div>
                                <div class="top-nav-right pull-right">
                                    <a id="menu-btn" href="javascript:void(0);" title="Menu"><span id="menu-btn-icon" class="icon-fw icon-menu-3"></span><span class="hidden-xs"> Menu</span></a>
                                    <a id="events-btn" href="/events/" title="Events"><span class="icon-fw icon-calendar-1"></span><span class="hidden-xs"> Events</span></a>
                                    <a id="give-btn" class="hidden-xs" href="/give/" title="Giving"><span class="icon-fw icon-heart"></span> Giving</a>
                                    <a id="search-btn" href="javascript:void(0);" title="Search"><span id="menu-search-btn-icon" class="icon-fw icon-zoom-2"></span><span class="hidden-xs"> Search</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='nav-main-menu' class='nav-content-holder'>
                    <div class='nav-top-border'></div>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12'>
                                <ul id="nav-pullout">
                                    <li id="nav_about" class='dropdown'><a href='#' id='about-nav'>Who We Are</a>
                                        <ul>
                                            <li><a href='/about/' style="color: white;">About Us </a></li>
                                            <li><a href='/about/staff/' style="color: white;">Meet The Team </a></li>
                                            <li><a href='/about/beliefs/' style="color: white;">What We Believe </a></li>
                                            <li><a href='/about/contact/' style="color: white;">Contact Us </a></li>
                                        </ul>
                                    </li>
                                    <li id="nav_locations" class='dropdown'><a href='#' id='locations-nav'>Locations</a>
                                        <ul>
                                            <li><a href='/locations/vincennes/' style="color: white;">Vincennes </a></li>
                                            <li><a href='/locations/bicknell/' style="color: white;">Bicknell </a></li>
                                            <li><a href='/locations/french-creole/' style="color: white;">French (Creole) </a></li>
                                        </ul>
                                    </li>
                                    <li id="nav_connect" class='dropdown'><a href='#'>Ministries</a>
                                        <ul>
                                            <li><a href='/ministries/kids/' style="color: white;">Kids </a></li>
                                            <li><a href='/ministries/students/' style="color: white;">Students </a></li>
                                            <li><a href='/ministries/life-groups/' style="color: white;">LIFE Groups </a></li>
                                            <li><a href='/ministries/global-missions/' style="color: white;">Global Missions </a></li>
                                            <li><a href='/ministries/celebrate-recovery/' style="color: white;">Celebrate Recovery </a></li>
                                            <li><a href='/ministries/mobile-food-pantry/' style="color: white;">Mobile Food Pantry </a></li>
                                            <li><a href='/ministries/3d-groups/' style="color: white;">3D Groups </a></li>
                                        </ul>
                                    </li>
                                    <li id="nav_connect" class='dropdown'><a href='#'>Events</a>
                                        <ul>
                                            <li><a href='/events/' style="color: white;">Events </a></li>
                                            <li><a href='/serve/' style="color: white;">Serve </a></li>
                                        </ul>
                                    </li>
                                    <li id="nav_outreach" class='dropdown'><a href='#'>Donate</a>
                                        <ul>
                                            <li><a href='/give/why-we-give/' style="color: white;">Why We Give </a></li>
                                            <li><a href='/give/' style="color: white;">Donate Now </a></li>
                                        </ul>
                                    </li>
                                    <li id="nav_resources" class='dropdown'><a href='#'>Watch</a>
                                        <ul>
                                            <li><a href='/watch/' style="color: white;">Archives Streams </a></li>
                                            <li><a href='/live/' style="color: white;">Live </a></li>
                                            <li ><a href='/stories/' >Stories </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id='top-area' class='top-home {% if page.shortheader == true %}top-short-header{% endif %}'>
                <div class='top-cover-gradient-fromtop gradient'></div>
                <div class='top-cover-gradient-frombot gradient '></div>
                <div class='container medium-header header-banner no-subtitle'>
                    {% if page.title %}
                    <div class='row center-row'>
                        <div class='col-lg-12 center-col'>
                            <h1>{{ page.title }}</h1>
                            <div class='row'>
                                <div class='col-lg-10 col-lg-offset-1'>
                                    <h2>{{ page.description }}</h2>
                                    <!--h3>SERVICE TIMES</h3>
        <p class='campus-times'>{{ page.servicetimes }}</p>
      <p class='campus-address'></p-->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id='main' role='main'>
            {% unless page.section == 'live' %} {% endunless %} {% if content %} {{ content }} {% else %}
            <p>Page not found</p>
            {% endif %}
        </div>
        <!-- end Main -->
        <div id="footer-social-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12  col-sm-4 col-md-4 ">
                        <div id="footer-address" style="display:none;">
                            <h4>Mailing Address</h4>
                            <p>218 Main St.,<span class="hidden-sm hidden-md hidden-lg"><br></span> Vincennes, IN 47591<br> Phone: 812.‍882.2737
                                <!--&nbsp;|&nbsp; Fax: 716.‍634.4184-->
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-4 col-md-4  " id="footer-contact">
                        <a href="#contact-form" class="btn btn-default btn-clear btn-left mg-t-sm" data-toggle="modal" data-target="#contact-modal"><i class="icon-right-4 icon-fw"></i> Contact Us</a>
                    </div>
                    <div class="col-xs-12  col-sm-4 col-md-4 " style="text-align:center;">
                        <div id="social-icons">
                            <a target="_blank" href="http://t.co/1PfouMf" title="Facebook" class="social-fb"><i class="icon-facebook-square  "></i></a>
                            <a target="_blank" href="http://t.co/2d2vCF4" title="Twitter" class="social-tw"><i class="icon-twitter"></i></a>
                            <a target="_blank" href="http://t.co/2dhdG8K" title="Instagram" class="social-in"><i class="icon-instagram "></i></a>
                            <a target="_blank" href='http://t.co/1PKODFi' title="Youtube" class='social-yt'><i class="icon-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div id="footer">
            <div class="container ">
                <div class="row mg-t-md mg-b-md">
                    <div class="col-sm-3 col-md-3  ">
                        <h4>LOCATIONS</h4>
                        <ul>
                            <li><a href="/vincennes" style="color: white;">Vincennes</a></li>
                            <li><a href="/bicknell" style="color: white;">Bicknell</a></li>
                            <li><a href="/french-creole" style="color: white;">French (Creole)</a></li>
                        </ul>
                        <hr class="thin-hr visible-xs">
                    </div>
                    <div class="col-sm-3 col-md-3 ">
                        <h4>GIVE</h4>
                        <ul>
                            <li><a href="/connect/giving/" style="color: white;">Why We Give</a></li>
                            <li><a href="/giving/" style="color: white;">Give Now</a></li>
                            <li><a href="/connect/giving/#mobile" style="color: white;">Mobile Giving</a></li>
                            <li><a href="/media/videos/annual-family-update-2017/" style="color: white;">Annual Report</a></li>
                        </ul>
                        <hr class="thin-hr visible-xs">
                    </div>
                    <div class="col-sm-3 col-md-3 ">
                        <h4>WATCH</h4>
                        <ul>
                            <li><a href="/live" style="color: white;">Watch Live</a></li>
                            <li><a href="/recent/">Recent Message</a></li>
                            <li><a href="/sermons/" style="color: white;">Sermon Archive</a></li>
                            <li><a href="/stories/">Stories</a></li>
                            <li><a href='/media/music'>Music</a></li>
                        </ul>
                        <hr class="thin-hr visible-xs">
                    </div>
                    <div class=" col-sm-3 col-md-3 ">
                        <h4>RESOURCES</h4>
                        <ul>
                            <li><a href="" style="color: white;">Discipleship</a></li>
                            <li><a href="" style="color: white;" target="_blank">Spiritual Gift Test</a></li>
                            <li><a href="" style="color: white;">Mobile Apps and TV</a></li>
                            <li><a href="" style="color: white;" target="_blank">Bible Reading Plan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mg-t-md mg-b-md">
                    <div class="col-md-12">
                        <hr>
                        <p>Copyright &copy; {{ site.time | date: '%Y' }} JayGreentree.live
                            <span class="middot">·</span> <a href="/privacy-policy/" style="color: white;">Privacy Policy</a>
                            <span class="middot">·</span> <a href="/credits/" style="color: white;">Credits</a>
                            <span class="middot">·</span> <a href="/tags/" style="color: white;">Tags</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- window resize helper -->
        <span id="mq-detector">
            <span class="visible-xs"></span>
        <span class="visible-sm"></span>
        <span class="visible-md"></span>
        <span class="visible-lg"></span>
        </span>
    </div>
    <!-- / wrapper -->
    <!-- form modals begin -->
    {% include form-modals.html %}
    <!-- form modals end -->
    <!-- Javascript ================================================== -->
    <script src="/site/templates/js/plugins/modernizr/modernizr.min.js"></script>
    <script src="/site/templates/js/plugins/jquery/jquery.min.js"></script>
    <script src='/site/templates/js/plugins/fastbutton/google.fastbutton.js'></script>
    <script src='/site/templates/js/plugins/fastbutton/jquery.google.fastbutton.js'></script>
    <script src='/site/templates/js/bootstrap.min.js'></script>
    <script src='/site/templates/js/plugins/emailObfuscation/emo.min.js'></script>
    <script src='/site/templates/js/plugins/fitvids/jquery.fitvids.min.js'></script>
    <script src='/site/templates/js/plugins/validate/jquery.validate.js'></script>
    <script src='/site/templates/js/main.js'></script>
    <script src='/site/templates/js/jquery.magnific-popup.js'></script>
    <script src='/site/templates/js/share.js'></script>
    <script src="/site/templates/js/live2022.js"></script>

</body>

</html>